.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #FCF3CF;
}

.del_opt {
  background-color: #F7DC6F;
  padding: 20px;
  margin-bottom: 20px;
}

.del_opt h1 {
  color: #333;
}

label {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
  box-sizing: border-box;
  border: 2px solid #333;
}

input[type="submit"] {
  background-color: #333;
  color: #FCF3CF;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #FCF3CF;
  color: #333;
}

.error {
  color: red;
  margin-top: 20px;
}