body {
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f7f7;
}

/* Styles for the "Welcome to Pizza Delivery" section */
.please {
  text-align: center;
  margin-bottom: 20px;
}

.please h1 {
  font-size: 36px;
  margin-bottom: 5px;
}

.please h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styles for the "Create an Account" section */
.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #df2920;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}